body {
  font: 1rem Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #FFF;
}

header {
  background-color: #343a40;
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.28);
}

main {
  display: grid;
  grid-template-columns: 350px minmax(350px, auto) 350px;
  grid-template-rows: 200px auto;
  align-content: stretch;
  height: 100vh;
  padding-top: 60px;
  z-index: 0;
}

.row-timeline {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #F0F;
}

.col-folders {
  grid-column: 1;
  grid-row: 2;
  background-color: #F00;
}

.col-files {
  grid-column: 2;
  grid-row: 2;
  background-color: #0F0;
}

.col-details {
  grid-column: 3;
  grid-row: 1 / 3;
  background-color: #00F;
}